* {
    text-align: center;
}

header {
    display: inline-flex;
}

#timer {
    float: right;
}

h3 {
    float: left;
}

h1 {
    font-size: 54px;
}

p {
    font-size: 32px;
    margin-left: 10%;
    margin-right: 10%;
}

#startPage {
    visibility: visible;
}   

.questions {
    visibility: hidden;
    position: fixed;
    left: 10%;
    right: 10%;
}

footer {
    position: fixed;
    left: 40%;
    top: 45%;
}

#score {
    visibility: hidden;
}

.prompt {
    font-size: 45px;
}

.answers {
    font-size: 36px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: purple;
    color: white;
}